h2,h3,p{
    text-align: center;
    
}
p{
    color: gray;
}
i{
    margin-left: 40%;
    background-color: hwb(49 0% 0%);
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 60px;
    color: white;
    
}
.Services{
    margin-top: 80px;
}

.service{
    float: left;
    width: 33%;
}

.clearfix{
    clear: both;
}
.fa-lock:before,.fa-laptop::before,.fa-cart-shopping::before{
    display: inline-block;
    margin-top: 25%;
    font-size: 50px;
}